// Navigation Styles here
.navi{

   
    width: 30vw;
    display: flex;
    font-size: 2rem;
    justify-content: space-around; 
    @media @mobile{     /*   MEDIA FOR GOING MOBILE */
        width: 70vw;
    }
    
    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: red;
        }
    }
    
}
